body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.ant-menu-light .ant-menu-item-selected{
  background-color: #0070AD;
  
}
.ant-menu-light .ant-menu-item-selected .ant-menu-item-icon{
  color: #fff;
}


.input-error {
  border-left: 1px solid #B02727;
  border-bottom: 1px solid #B02727;
}

.input-container {
  position: relative;
}

.error-asterisk {
  position: absolute;
  top: 0;
  right: 5px;
  color: #B02727;
  font-size: 12px;
  font-weight: bold;
}
.no-border{
  border: none;
}

.erp-container .ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn .ant-btn-variant-outlined{
  background: #0070AD ;
  color: white;
  padding: 10px 20px;
}
.ant-tabs-top >.ant-tabs-nav::before{
  border: none;
}
.ant-btn-variant-outlined{
  box-shadow: none;
  border-color: white;
  background: #12ABDB0F;
}
.ant-btn-variant-outlined:not(:disabled):not(.ant-btn-disabled):hover{
  border-color: white;
}