
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
  background-color: #f0f2f5;
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}


.site-layout-background {
    background: #fff;
  }
  
  .logo {
    height: 32px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.3);
  }
  
  .header-title {
    font-size: 18px;
    color: white;
    padding-left: 20px;
  }
  
  .login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f2f5;
  }
  
  .login-page h2 {
    text-align: center;
    margin-bottom: 20px;
  }